@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin compatible-radius($num){
  -moz-border-radius: $num; /* Firefox */
  -webkit-border-radius: $num; /* Safari 和 Chrome */
  border-radius: $num; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}

$darkBlue: #2f549f;
$myTextColor: #515151;
$myTextDeepenColor: #333333;
$themeTextColor: #DA534F;
$themeBtnColor: #DA534F;
$myHalfGrayTextColor: #717171;
$myNavTextColor: #878787;
$myGrayTextColor: #BEBEBE;
$cccTextColor: #CCCCCC;
//页面常用黄色
$myYellow: #ff9934;
//页面a链接颜色
$myA: #2f55a0;
$myIconColor: #DFDFDF;
$themeBorderColor: #DA534F;
$myDialogBorder: #dcdfe6;
$myBorder: #eee;
$cccBorderColor: #CCCCCC;
$myPrimary: #13B7F5;
$mySuccess: #13ce66;
$myWarning: #ff9934;
$myDanger: #ff4949;
//阴影
$shadowColor: #ECECEC;

