#all-article-container {
  .article-left {
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
    width: 865px;
    min-height: 100vh;
    .Tabs-box {
      padding: 10px 10px 0 10px !important;
      margin-bottom: 0;
      box-shadow: none;
      border-bottom: 1px solid #f0f2f7;
      text-align: right;
      .ivu-tabs-bar {
        margin-bottom: 0;
        border-bottom: none
      }
    }
    .page-top-box {
      padding: 10px !important;
      margin-bottom: 0;
      box-shadow: none;
      border-bottom: 1px solid #f0f2f7;
      text-align: right;
    }
    .Card {
      position: relative;
      padding: 20px 150px 20px 20px;
      margin-bottom: 0;
      box-shadow: none;
      border-bottom: 1px solid #f0f2f7;
      cursor: pointer;
    }
    .Card:hover {
      .Content {
        color: #2786e4;
      }
    }
    .ContentItem-title {
      font-size: 18px;
      font-weight: 600;
      font-synthesis: style;
      line-height: 1.6;
      color: #314c83;
      margin-top: -4px;
      margin-bottom: -4px;
      padding: 0 0 3px;
      overflow: hidden;
      max-height: 59px;
    }
    .Content {
      color: #1a1a1a;
      font-size: 14px;
      line-height: 20px;
      min-height: 40px;
      .desc {
        max-height: 40px;
        overflow: hidden;
      }
      .Content-imgListUl {
        width: 100%;
        height: 136px;
        li {
          width: 130px;
          height: 130px;
          background-color: rgb(255, 255, 255);
          float: left;
          overflow: hidden;
          position: relative;
          margin: 6px 6px 0 0;
          text-align: left;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            min-width: 100%;
            width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
            cursor: inherit;
            max-width: none!important;
          }
        }
      }
    }
    .time {
      color: #868686;
      font-size: 14px;
      padding: 15px 0 5px;
    }
    .post-right {
      position: absolute;
      right: 0;
      width: 110px;
      top: 10px;
      text-align: left;
      padding: 20px;
      color: #bababa;
      font-size: 12px;
      div {
        margin-bottom: 5px;
      }
      .icon {
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }
    .page-box {
      padding-bottom: 100px;
    }
  }

}
